{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load account socialaccount %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid p-4 rounded">
    <div class="container">
        <h1 class="display-4 mb-6">{% trans "Change Password" %}</h1>
        <hr>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-info" type="submit" name="action">{% trans "Change Password" %}</button>
            <a class="btn btn-outline-info" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
</div>

{% endblock %}
